MONGO_URL=""
DB_NAME="lyzn"
CORS_ORIGINS="*"
ADMIN_PASSWORD="change-me"
RESEND_API_KEY=""
SENDER_EMAIL="onboarding@resend.dev"
GMAIL_USER=""
GMAIL_APP_PASSWORD=""
DISCORD_WEBHOOK_URL=""
ADMIN_PANEL_URL=""
